@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* THIS IS FOR HIGHLIGHTING THE SELECTED OPTION IN THE SIDEBAR */

.active p {
  background: #92ef9a;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 40px;
  color: #2b2b2b;
}

.error-message{
  color: white
}

/* THIS IS FOR THE CLOCK CSS */

.clock {
  width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  .digital-clock {
    padding: 10px;
  }
  .analog-clock {
    width: 150px;
    height: 150px;
    border: solid 1px #000;
    border-radius: 50%;
    position: relative;
    background: #fff url("https://www.jing.fm/clipimg/full/0-7025_clock-clipart-with-no-hands-analog-clock-without.png");
    background-size: cover;
    .dial {
      position: absolute;
      left: 50%;
      bottom: 50%;
      width: 50px;
      height: 50px;
      transform-origin: bottom left;
      &.seconds {
        border-left:solid 1px green;
      }
      &.minutes {
        border-left:solid 2px #cc0000;
      }
      &.hours {
        width: 35px;
        height: 35px;
        top: 40px;
        border-left:solid 3px #000;
      }
    }
  }
}
/* END OF CLOCK CSS */